# Ignore node_modules and other dependencies
node_modules

# Ignore environment variables files
.env
.env.production

# Ignore Docker files that are not needed in the image
docker-compose.prod.yml

# other directories

# ignore git directories and files
.git
.gitignore

# MongoDB data directory
data/db

# Other unnecessary files
*.md